/* Main layout */
@font-face {
font-family: 'SiteFont';
font-style: normal;
font-weight: 800;
src: url('fonts/EncodeSans-Black.ttf');
}

@font-face {
font-family: 'SiteFont';
font-style: normal;
font-weight: 400;
src: url('fonts/ABeeZee-Regular.ttf');
}

@font-face {
font-family: 'SiteFont';
font-style: italic;
font-weight: 400;
src: url('fonts/ABeeZee-Italic.ttf');
}

body {
font-family: SiteFont;
margin: 0;
padding: 0;
}

/* Make the background work, fullscreen is black by default */
:fullscreen, ::backdrop {
background-color: transparent;
}

#background {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100vh;
width: 100vw;
margin: 0;
border: 0;
padding: 0;
background-color: darkviolet;
background-image: url("bg.svg");
background-size: cover;
z-index: -1;
}

/* Main container */
.gl-container {
padding: 1em;
text-align: center;
font-size: 3vmin;
background: transparent;
}

/* General */
.gl-contrast-with-bg {
background: rgba(255,255,255,0.5);
}

.gl-title {
padding: 1em;
border-radius: 1em;
}

/* Game Cards */
.gl-cards {
display: grid;
grid-template-columns: 2fr 2fr;
}
.card {
margin: 0;
margin-top: 1em;
margin-bottom: 1em;
}
.card_content {
display: grid;
margin: 1em;
text-align: center;
align-items: center;
font-size: 12pt;
border-top: solid black 0.2ex;
border-left: solid black 0.2ex;
}
.layout2x2 {
grid-template-columns: 2fr 2fr;
grid-template-rows: 2fr 2fr;
}
.layout2x3 {
grid-template-columns: 2fr 2fr;
grid-template-rows: 2fr 2fr 2fr;
}
.layout3x3 {
grid-template-columns: 2fr 2fr 2fr;
grid-template-rows: 2fr 2fr 2fr;
}
.card_id {
font-size: 80%;
text-align: center;
}
.cardtitle{
font-size: 120%;
font-weight: bold;
}
.carditem {
display: grid;
align-items: center;
border-right: solid black 0.2ex;
border-bottom: solid black 0.2ex;
height: 6em;
}

/* Start buttons */
.gl-container input {
background: #4DA5FF;
border: solid #295787 0.2vh;
margin: 1vh;
border-radius: 0.2em;
padding: 1vh;
font-family: SiteFont;
font-size: 2.6vh;
}

/* Splash screen */
#gl-splash {
width: 100%;
height: 100%;
}

.gl-logo-small {
width: 50%;
}

#gl-splash .gl-logo {
width: 75%;
}
#gl-splash p {
margin: 0;
font-size: 10vmin;
}
/* Game elements */
#gl-answers {
box-sizing: border-box;
position: absolute;
top: 0;
left: 0;
width: 25vw;
height: 91vh;
font-size: 3.5vmin;
margin: 1vh;
border: solid black 0.4vh;
border-radius: 1.5ex;
padding: 0.5vh;
overflow: hidden;
}

#gl-answers div {
margin: 1vh;
border: 0;
border-radius: 1ex;
padding: 1ex;
background: rgba(255,255,255,0.5);
}

#gl-prompt {
display: table-cell;
position: absolute;
top: 10vh;
height: 83vh;
right: 0;
width: 75vw;
font-size: 10vmin;
font-weight: 900;
align-content: center;
}

#gl-prompt-label {
display: table-cell;
position: absolute;
top: 0;
height: 14vh;
right: 0;
width: 75vw;
font-size: 7vmin;
align-content: center;
}

/* Bottom bar */
#gl-bottombar {
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
bottom: 0;
left: 0;
height: 7vh;
width: 100vw;
z-index: 1;
background: rgba(255,255,255,0.5);
}

.gl-quit {
content: url("quit-icon.svg");
width: 3vh;
}

@media print {
    .gl-back {
    display: none;
    }

    body {
    background: unset;
    }

    #background {
    display: none;
    }

    /* Prevent page breaks in cards */
    .card {
    break-inside: avoid;
    }
}
